/*GENERAL STYLING */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #2d3c49; 
}

img {
	max-width: 100%;
	max-height: 100%;
}

/*GRID LAYOUT ROWS & COLUMNS */

.grid {
	width: 100vw;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

/*HEADER STYLING */

header {
	margin-top: 10px;
}

.header-title, .header-subtitle {
	margin: 0 10px 0 0;
	text-align: right;
	text-transform: uppercase;
}

.header-title {
	font-size: 3em;
	margin-top: 10px;
}

.header-subtitle {
	font-size: 1.2em;
	font-weight: 700;
}

#logo {
	min-width: 250px;
	max-width: 250px;
	max-height: 100px;
	float: left;
}

/*DIVIDER STYLING*/

hr {
	border-top: 4px solid #7d97ad;
	margin: 20px 0;
}

/*MAIN IMAGE STYLING*/

.feature-image {
	max-height: 500px;
	overflow: hidden;
}

/*PORTFOLIO STYLING*/

.featured {
	font-size: 2.2em;
	color: #7d97ad;
	margin-bottom: 15px;
}

.portfolio-box {
	width: calc(33.33% - 14px);
	text-align: center;
	margin-right: 20px;
}

.last-portfolio-box {
	margin-right: 0;
}

.portfolio-image {
	display: block;
	margin: 10px auto;
}

.portfolio-box h3 {
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 700;
	margin-bottom: 10px;
}

.portfolio-box a {
	text-decoration: none;
	color: black;
	font-weight: 400;
}

.portfolio-box img {
	width: 100%;
	max-height: 230px;
	padding-right: 20px;
}

.portfolio-box img:last-of-type {
	padding-right: 0;
}


/*STYLES FOR SCREEN WIDTH OVER 1100px*/

@media screen and (min-width: 1100px) {
	.grid {
		max-width: 1100px;
		margin-right: auto;
		margin-left: auto;
	}
}

/*STYLES FOR IPAD (PORTRAIT)*/

@media screen and (max-width: 750px) {
	.portfolio-box a {
		font-size: 0.8em;
	}
}

/*STYLES FOR MOBILE (NEXUS 5)*/

@media screen and (max-width: 630px) {
	#logo {
		min-width: auto;
	}

	.header-title {
		font-size: 2em;
	}

	.header-subtitle {
		font-size: 1.0em;
	}

	.featured {
		text-align: center;
	}

	.portfolio-box {
		width: 100%;
		margin-right: 0;
		margin-top: 20px;
	}

	.first-portfolio-box {
		margin-top: 0;
	}

	.portfolio-box h3 {
		margin-top: 10px;
	}

	.portfolio-box img {
		max-height: none; 
	}